@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:wght@400;700&display=swap'); /*fonte importada do Google Fonts*/

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif; 
    /*o nome da fonte está em aspas porque é para chamar primeiro (prioridade). Caso não ache, pegue a segunda opção que é o sans-serif sem aspas.*/
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left-login{
    width: 50vw; /*Ocupar apenas 50% da tela*/
    height: 100vh; /*Ocupar altura inteira da tela*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*P um conteudo ficar abaixo do outro*/
}

.left-login > h1{
    font-size: 3vw;
    color: #77ffc0;
}

.left-login-image{
    width: 30vw;
}

.right-login{
    width: 50vw; /*Ocupar apenas 50% da tela*/
    height: 89vh; /*Ocupar altura inteira da tela*/
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*P um conteudo ficar abaixo do outro*/
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056; 
}

.card-login > h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;

}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;

}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b1234;
    background-color: #00ff88;
    box-shadow: 0px 10px 40px #00ff8052; 
    /*botao LOGIN e sombra*/
}

.btn-login:hover{
    cursor: pointer;
    background-color: #09e07c;
}
form{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rodape{
    
    background-color: red;
}
